body{
    background-color: hsl(69, 69%, 79%);
}.Container{
    max-width: 470px;
    margin: auto;
    overflow: hidden;
    align-items: center;
    padding: 10px;
}
.Icons{
    min-height: 110px;
    min-width: 110px;
    max-height: 110px;
    min-width: 110px;
    background-color: hsl(68, 44%, 71%);
    border-radius: 10px;
    transition: all 300ms;
    margin: 2px;
}
.Container .Icons:hover{
    transform: scale(1.05);
    transition: 300ms;
    background-color: hsl(68, 44%, 65%);
}
footer{
    position: fixed;
    width: 99%;
    position: absolute;
    bottom: 0;
}
h1{
    max-width: 200px;
}
.Selections{
    max-width: 120px;
    max-height: 120px;
    display: inline;
}